@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .option{
    @apply cursor-pointer hover:bg-gray-100 transition duration-200 ease-out p-2 rounded-lg;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spinnaker', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn_menu{
  height: 65px;
}

.add_doc img{
  border-radius: 5px;
}

.add_doc{
  border-radius: 5px;
}

.add_doc:hover{
  border: 1px solid #679fff;
}

.modal-cancel{
  border-radius: 7px;
  width: 46%;
  border: 1px solid #b8bcc2;
}

.modal-create{
  background: #679fff;
  color: #fff;
  border-radius: 7px;
  width: 46%;
}

.modal-create:hover{
  background: #b8bcc2;
  color: #000;
  border-radius: 7px;
}

.doc_name{
  border: 1px solid #b8bcc2;
  border-radius: 7px;
  padding: 8px;
}

.share{
  border: 2px solid transparent!important;
  border-radius: 7px;
  box-shadow: none;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  height: 32px;
  letter-spacing: 0.25px;
  line-height: 16px;
  padding: 10px 24px 11px 24px;
  background: #1a73e8;
  color: #fff;
  padding: 18px 12px 18px 12px;
  text-transform: capitalize;
}